<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MODSOFTSQLEXPRESSLYS" connectionString="XpoProvider=MSSqlServer;data source=MODSOFT\SQLEXPRESS;user id=sa;password=Mu43zo93;initial catalog=LYS;Persist Security Info=true" />
    </connectionStrings>
</configuration>